<p>こんにちは <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスが次のものに変更されたことお知らせします <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのメールアドレスが次のものに変更されたことお知らせします <%= @resource.email %>.</p>
<% end %>
