<p>こんにちは　<%= @resource.email %>!</p>

<p>誰かがあなたのパスワードを変更するリンクを求めました。下記のリンクから変更できます</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし心当たりがない場合は、無視してください</p>
<p>あなたのパスワードは上記のリンクにアクセスし、新しく作成されるまで変更されません</p>
